* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  background: rgb(226, 194, 90);
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
body.cukiernia {
  background: #87c2eb;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  height: 100%;
}

/* NAVBAR */

.title {
  font-family: "Festive", cursive;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 10px;
  transform: translateY(-60px);
  transition: all 0.5s ease-in-out;
}
.title.loaded {
  transform: translateY(0px);
}
.navbar-container {
  z-index: auto;
  text-align: center;
  background: rgb(233, 227, 200);
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 159),
    rgb(233, 227, 200)
  );
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
  width: 100%;
  z-index: 2;
  transition: all 0.8s ease;
}
.navbar-container.cukiernia {
  background: linear-gradient(
    to right bottom,
    rgb(255, 186, 234),
    rgb(245, 132, 211)
  );
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", cursive;
  color: black;
}

.change-btn {
  box-shadow: -0.5px 0.5px 10px rgb(104, 94, 49);
  border-radius: 25px;
  width: 35px;
  height: 35px;
}
.btn-icon {
  width: 30px;
  height: 30px;
}
.menu,
.produkty,
.o_nas {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 30px;
}

.nav-list {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  box-shadow: 2px -2px 10px rgb(0, 0, 0);
  background: rgb(233, 227, 200);
  margin-top: 40px;
  border-radius: 3px;
  opacity: 0;
  transform: translateY(-10px);
  z-index: 2;
  transition: all 0.4s ease;
}
.nav-list.cukiernia {
  background: rgb(245, 132, 211);
}
.menu button:focus + ul,
.produkty button:focus + ul,
.o_nas button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(5px);
}
.menu li,
.produkty li,
.o_nas li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 150px;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.menu li:hover,
.produkty li:hover,
.o_nas li:hover {
  background: rgb(172, 163, 143);
}
/* CONTAINERS */
.container,
.products-container,
.o-nas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTAINER */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/cheleb.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 100px black;
  width: 100%;
  height: 600px;
  color: rgb(0, 0, 0);
  z-index: 1;
  overflow: hidden;
}
.container.cukiernia {
  background-image: url("../images/slodycze.jpg");
  -webkit-background-size: cover;
  background-size: cover;
}
.headline {
  font-family: "Festive", cursive;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 10px;
  transform: translateX(-900px);
  transition: all 0.8s ease-in-out;
}
.headline.loaded {
  transform: translateY(0px);
}
.under_headline {
  font-size: 2rem;
  font-family: "Roboto", cursive;
  transform: translateX(1000px);
  transition: all 0.8s ease-in-out;
}
.under_headline.loaded {
  transform: translateY(0px);
}

/* PRODUCTS CONTAINER */

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px 100px 0px;
  height: 800px;
}
.produkt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255),
    rgb(209, 209, 209)
  );
  margin: 50px;
  height: 300px;
  width: 250px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px black;
}
.product-name {
  font-family: "Festive", cursive;
}
.product-name-container {
  pointer-events: none;
  transform: translateY(25px);
  font-size: 2.5rem;
  transition: all 0.5s ease-in-out;
}
.produkt-container.test .product-name-container {
  font-size: 2rem;
  transform: translateY(0);
}
.product-description-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Roboto", cursive;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  margin: 0px 10px 10px 10px;
}
.produkt-container.test .product-description-container {
  opacity: 1;
}
.produkt-image-container {
  width: 100px;
  height: 100px;
}
.produkt-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.produkt-btn {
  padding: 2px;
  color: rgb(255, 115, 0);
  border: 3px solid rgb(255, 115, 0);
  margin: 5px;
  border-radius: 25px;
  height: 30px;
  width: 100px;
}
.produkt-btn.active {
  color: white;
  background-color: rgb(255, 115, 0);
}
.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* O NAS CONTAINER */

.o-nas-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  height: 600px;
}

.kim-jestesmy-container h2 {
  text-align: center;
  font-family: "Roboto", cursive;
  margin: 5px;
  font-size: 4rem;
}
.kim-jestesmy-container p {
  font-family: "Roboto", cursive;
  margin: 10px;
  font-size: 2.5rem;
  float: left;
}
.kim-jestesmy-title {
  margin: 20px;
}
.map-container {
  float: right;
  margin: 15px;
}
.map {
  border-radius: 20px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content p {
  text-align: center;
}

/* FOOTER */

.footer {
  width: 100;
  height: 150px;
  background-color: rgb(233, 227, 200);
  background: linear-gradient(
    to right bottom,
    rgb(250, 250, 138),
    rgb(233, 227, 200)
  );
  box-shadow: 0 0 1em rgb(0, 0, 0);
  transition: all 0.4s ease;
  font-family: "Roboto", cursive;
  padding: 10px;
}
.footer.cukiernia {
  background: linear-gradient(
    to right bottom,
    rgb(252, 193, 234),
    rgb(245, 125, 209)
  );
}
.kontakt {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}
.left {
  width: 50%;
  font-size: 1.5rem;
  float: left;
}
.left p {
  margin: 10px;
}
.right {
  width: 50%;
  font-size: 1.5rem;
  float: right;
  text-align: left;
}

/* OGÓLNE */

.container-title-container,
.products-title-container,
.o-nas-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 50px 0px;
  width: 100%;
}
.container-title,
.products-title,
.o-nas-title {
  font-family: "Festive", cursive;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #000;
  font-size: 5rem;
  width: 90%;
  line-height: 0.1em;
  margin: 50px;
}

.lines {
  background: rgb(226, 194, 90);
}
.lines.cukiernia {
  background: #87c2eb;
}
.przerywnik {
  width: 100;
  height: 100px;
  background-color: rgb(233, 227, 200);
  background: linear-gradient(
    to right bottom,
    rgb(253, 253, 135),
    rgb(233, 227, 200)
  );
  box-shadow: 0 0 1em rgb(0, 0, 0);
  transition: all 0.4s ease;
}
.przerywnik.cukiernia {
  background: rgb(245, 132, 211);
  background: linear-gradient(
    to right bottom,
    rgb(207, 171, 196),
    rgb(245, 132, 211)
  );
}

@media only screen and (max-midth: 530px) {
  .products-list {
    flex-direction: column;
  }
}
@media (max-midth: 768px) {
}
@media (max-midth: 1024px) {
}
@media (max-midth: 1400px) {
  .products-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
