* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(160, 134, 50);
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
button {
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

/* NAVBAR */
.title {
  font-family: "Festive", cursive;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 10px;
  transform: translateY(-50px);
  transition: all 0.5s ease-in-out;
}
.title.loaded {
  transform: translateY(0px);
}
.navbar-container {
  z-index: auto;
  text-align: center;
  background: rgb(212, 201, 176);
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", cursive;
  color: black;
}
.menu,
.produkty,
.o_nas {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 30px;
}
.menu ul,
.produkty ul,
.o_nas ul {
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  box-shadow: 2px -2px 10px rgb(0, 0, 0);
  background: rgb(212, 201, 176);
  margin-top: 40px;
  border-radius: 3px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.menu button:focus + ul,
.produkty button:focus + ul,
.o_nas button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(5px);
}
.menu li,
.produkty li,
.o_nas li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.menu li:hover,
.produkty li:hover,
.o_nas li:hover {
  background: rgb(172, 163, 143);
}
/* CONTAINERS */
.container,
.products-container,
.o-nas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px 0px 10px 0px;
  border: 1px solid red;
}
/* MAIN CONTAINER */
.container {
  height: 400px;
}
/* PRODUCTS CONTAINER */
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 300px 0px 200px;
  height: 300px;
}
.produkt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: 50px;
  height: 250px;
  width: 200px;
  border-radius: 25px;
  box-shadow: 1px 1px 10px black;
}
.produkt-container.test {
  background-color: black;
  color: white;
}
.produkt-container.test {
  background-color: black;
}
.product-name {
  font-family: "Festive", cursive;
}
.produkt-image-container {
  width: 100px;
  height: 100px;
}
.product-description-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Roboto", cursive;
}
.produkt-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.produkt-btn {
  padding: 2px;
  color: rgb(255, 115, 0);
  border: 3px solid rgb(255, 115, 0);
  border-radius: 25px;
  height: 25px;
  width: 100px;
}
.produkt-btn.active {
  color: white;
  background-color: rgb(255, 115, 0);
}
.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* O NAS CONTAINER */

.o-nas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 800px;
}
.kim-jestesmy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.kim-jestesmy-container h2 {
  text-align: center;
  font-family: "Roboto", cursive;
  margin: 10px;
  font-size: 50px;
}
.kim-jestesmy-container p {
  font-family: "Roboto", cursive;
  margin: 10px;
  font-size: 30px;
  float: left;
}
.kim-jestesmy-title {
  margin: 20px;
}
.map-container {
  float: right;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OGÓLNE */
.container-title-container,
.products-title-container,
.o-nas-title-container {
  border: 1px solid rgb(18, 218, 18);
  width: 100%;
}
.container-title,
.products-title,
.o-nas-title {
  font-family: "Festive", cursive;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #000;
  font-size: 50px;
  width: 90%;
  line-height: 0.1em;
  margin: 50px;
}
.container-lines,
.products-container-lines,
.o-nas-lines {
  background: rgb(160, 134, 50);
  padding: 0 10px;
}
